{% extends "settings.html" %}
{% set active_item = 'info' %}

{% block head %}
    <script type="text/javascript" src="../static/javascript/settings/about.js"></script>
{{ super() }}
{% endblock %}

{% block content_settings %}
<!-- Add Hobby -->
<div class="modal fade" id="addHobby" tabindex="-1" role="dialog" aria-labelledby="addHobby" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hobby</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="hobby">
                    <div class="form-group">
                        <label> Hobby </label>
                        <input id='hobby' type='text' name="title"> </input>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn-primary btn mx-auto" onclick="addHobby();">Add hobby</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add skill -->
<div class="modal fade" id="addSkill" tabindex="-1" role="dialog" aria-labelledby="addSkill" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="skill">
                    <div class="form-group">
                        <label> Skill </label>
                        <input id='skill' type='text' name="new_skill" /> </input>
                    </div>

                    <div class="form-group">
                        <label> Skill level </label>
                        <input type="range" min="1" max="100" value="50" class="slider" name='level'>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn-primary btn mx-auto" onclick="addSkill();">Add skill</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add language -->
<div class="modal fade" id="addLanguage" tabindex="-1" role="dialog" aria-labelledby="addLanguage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add language</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="language">
                    <div class="form-group">
                        <label> Language </label>
                        <select name="new_language" name="language" class="form-control" data-placeholder="Choose a Language...">
                            <option value="Afrikaans">Afrikaans</option>
                            <option value="Albanian">Albanian</option>
                            <option value="Arabic">Arabic</option>
                            <option value="Armenian">Armenian</option>
                            <option value="Basque">Basque</option>
                            <option value="Bengali">Bengali</option>
                            <option value="Bulgarian">Bulgarian</option>
                            <option value="Catalan">Catalan</option>
                            <option value="Cambodian">Cambodian</option>
                            <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
                            <option value="Croatian">Croatian</option>
                            <option value="Czech">Czech</option>
                            <option value="Danish">Danish</option>
                            <option value="Dutch">Dutch</option>
                            <option value="English">English</option>
                            <option value="Estonian">Estonian</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finnish">Finnish</option>
                            <option value="French">French</option>
                            <option value="Georgian">Georgian</option>
                            <option value="German">German</option>
                            <option value="Greek">Greek</option>
                            <option value="Gujarati">Gujarati</option>
                            <option value="Hebrew">Hebrew</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Hungarian">Hungarian</option>
                            <option value="Icelandic">Icelandic</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Irish">Irish</option>
                            <option value="Italian">Italian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Javanese">Javanese</option>
                            <option value="Korean">Korean</option>
                            <option value="Latin">Latin</option>
                            <option value="Latvian">Latvian</option>
                            <option value="Lithuanian">Lithuanian</option>
                            <option value="Macedonian">Macedonian</option>
                            <option value="Malay">Malay</option>
                            <option value="Malayalam">Malayalam</option>
                            <option value="Maltese">Maltese</option>
                            <option value="Maori">Maori</option>
                            <option value="Marathi">Marathi</option>
                            <option value="Mongolian">Mongolian</option>
                            <option value="Nepali">Nepali</option>
                            <option value="Norwegian">Norwegian</option>
                            <option value="Persian">Persian</option>
                            <option value="Polish">Polish</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Punjabi">Punjabi</option>
                            <option value="Quechua">Quechua</option>
                            <option value="Romanian">Romanian</option>
                            <option value="Russian">Russian</option>
                            <option value="Samoan">Samoan</option>
                            <option value="Serbian">Serbian</option>
                            <option value="Slovak">Slovak</option>
                            <option value="Slovenian">Slovenian</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Swahili">Swahili</option>
                            <option value="Swedish ">Swedish </option>
                            <option value="Tamil">Tamil</option>
                            <option value="Tatar">Tatar</option>
                            <option value="Telugu">Telugu</option>
                            <option value="Thai">Thai</option>
                            <option value="Tibetan">Tibetan</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Turkish">Turkish</option>
                            <option value="Ukrainian">Ukrainian</option>
                            <option value="Urdu">Urdu</option>
                            <option value="Uzbek">Uzbek</option>
                            <option value="Vietnamese">Vietnamese</option>
                            <option value="Welsh">Welsh</option>
                            <option value="Xhosa">Xhosa</option>
                          </select>
                    </div>

                    <div class="form-group">
                        <label> Language level </label>
                        <input type="range" min="1" max="100" value="50" class="slider" name='level'>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn-primary btn mx-auto" onclick="addLanguage();">Add language</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Main -->
<div id="main" class="col-xl-8">
    <div class="title">
        <h2 class="font-header-settings">About you</h2>
    </div>

    <ul class="style1">
        <li id='hobbies-list'>
            <p><b> Hobbies</b></p>
        </li>
        <button type="button" class="btn-primary btn-block" data-toggle="modal" data-target="#addHobby" data-whatever="@getbootstrap">Add hobby</button>

        <li id='skills-list'>
            <p><b>Skills</b></p>
        </li>
        <button type="button" class="btn-primary btn-block" data-toggle="modal" data-target="#addSkill" data-whatever="@getbootstrap">Add skill</button>

        <li id='languages-list'>
            <p><b>Languages</b></p>
        </li>
        <button type="button" class="btn-primary btn-block" data-toggle="modal" data-target="#addLanguage" data-whatever="@getbootstrap">Add language</button>
    </ul>
</div>
{% endblock %}