{% extends "settings.html" %}
{% set active_item = 'password' %}

{% block head %}
<script type="text/javascript" src="../static/javascript/settings/password.js"></script>
<link rel="stylesheet" href="../static/css/password.css">

{{ super() }}
{% endblock %}
{% block content_settings %}
<div id="main" class="col-xl-8">
    <div class="title">
        <h2 class="font-header-settings">Change password</h2>
    </div>

    <div class="col-md-6 mx-auto">
        <div class="form" name='password'>
            <form method="post" name="password">
                <div class="form-group">
                    <label> Old password </label>
                    <input type="password" name="oldPassword" class="form-control form-control-settings" placeholder="Enter old password">
                </div>

                <div class="form-group">
                    <label> New password </label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control form-control-settings" placeholder="Enter new password">
                </div>

                <div class="form-group">
                    <label> Confirm new password </label>
                    <input type="password" name="confirmPassword" class="form-control form-control-settings" placeholder="Enter new password (yes again)">
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-center ">
                        <button type="submit" class="btn-primary btn-block" onclick="changePassword()">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
