{% extends "settings.html" %}
{% set active_item = 'privacy' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/server.css">
{{ super() }}
{% endblock %}


{% block content_settings %}
<div id="main" class="col-xl-8">
    <div class="title">
        <h2 class="font-header-settings">Privacy settings</h2>
    </div>
    <ul class="style1">
        <li>
            <p><b>Who is able to see my posts?</b></p>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Everyone
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Friends
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Friends of friends
                </label>
              </div>
        </li>
        <li>
            <p><b>Who is able to see my profile picture?</b></p>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Everyone
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Friends
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Friends of friends
                </label>
              </div>
        </li>
        <div class="col-md-12 text-center ">
            <button type="submit" class="btn-block btn-block">Save</button>
        </div>
    </ul>
</div>
{% endblock %}