{% extends "settings.html" %}
{% set active_item = 'profile' %}

{% block head %}
<script type="text/javascript" src="../static/javascript/settingsProfile.js"></script>
<script>
    function show_preview(event) {
        var reader = new FileReader();
        reader.onload = function() {
        var output = document.getElementById('image_url');
        output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{{ super() }}
{% endblock %}

{% block content_settings %}
<div id="main" class="col-xl-8">
    <div class="title">
        <h2 class="font-header-settings">Personal info</h2>
    </div>

    <ul class="style1">
        <form enctype="multipart/form-data" name="settings">
            <li>
                <p><b> Profile picture</b></p>
                <img class="img-settings" name="profilePicture" id='image_url' style="width:100%" >
                <input id="image_url" type="file" name="file" accept="image/*" onchange="show_preview(event)">
            </li>
            <li>
                <p><b>Bio</b></p>
                <textarea id='bio' class="form-control form-control-settings" name="new_bio" rows="7"></textarea>
            </li>
            <li>
                <p><b>Study</b></p>
                <input id='study' type='text' class="form-control form-control-settings" name="new_study"> </input>
            </li>
            <li>
                <label> Firstname</label>
                <input id='firstname' type='text' class="form-control form-control-settings" name="new_firstname" /> </input>
            </li>
            <li>
                <label> Lastname</label>
                <input id='lastname' type='text' class="form-control form-control-settings" name="new_lastname" /> </input>
            </li>
            <li>
                <label> Location</label>
                <input id='location' type='text' class="form-control form-control-settings" name="new_location"> </input>
            </li>
            <div>
                <button type="submit" class="btn-primary btn-block" onclick="saveProfile()">Update</button>
            </div>
        </form>
    </ul>
</div>
{% endblock %}