{% extends "settings.html" %}
{% set active_item = 'server' %}

{% block head %}
<script type="text/javascript" src="../static/javascript/settingsServer.js"></script>
<script type="text/javascript" src="../static/javascript/registerServer.js"></script>
{{ super() }}
{% endblock %}

{% block content_settings %}
<div id="main" class="col-xl-8">
    <div class="title">
        <h2 class="font-header-settings">Your data server</h2>
    </div>
    <ul class="style1">
        <li>
            <p>The data server registration for your account:</p>
            <p id="dataservername"></p>
            <p id="dataserveraddress"></p>
            <p>When your profile moved to a different data server, you have to register your profile to this new data server on the FedNet central server. To do this, select your new data server below.</p>
            <p class="w3-hide">You can migrate your data to a new data server. To do this, choose your new data server below. If the migration was succesful, your new data server will show above after you refresh this page.</p>
            <form name="editdataserver">
                <div class="form-group">
                    <select id="select_server" name="select_server" class="form-control form-control-settings"></select>
                </div>
                <button type="submit" class="btn-primary btn-block" onclick="updateDataServer();">Submit</button>
            </form>
        </li>
    </ul>
    <div class="title">
        <h2 class="font-header-settings">Register new data server</h2>
    </div>
    <ul class="style1">
        <li>
            <p>Using this form, you can register a new data server on the FedNet central server.</p>
            <form name="registerdataserver" action="" method="POST">
                <div class="form-group">
                    <label> Server name </label>
                    <input type='text' class="form-control form-control-settings" name="server_name" placeholder="Enter server name" value=""></input>
                </div>
                <div class="form-group">
                    <label> Server address </label>
                    <input type='text' class="form-control form-control-settings" name="server_address" placeholder="Enter server address" value="http://"></input>
                </div>
                <button type="submit" class="btn-primary btn-block" onclick="register_server();">Register Server</button>
            </form>
        </li>
    </ul>
    <div class="w3-hide">
        <div class="title">
            <h2 class="font-header-settings">Personal server</h2>
        </div>
        <ul class="style1">
            <li>
                <p><b>Hosted accounts:</b></p>
                <p>coennusse <button class="btn-danger"> Delete</button></p>
                <p><b>Requests:</b></p>
                <p>Jan <button class="btn-primary"> Accept</button> <button class="btn-danger"> Decline</button></p>
            </li><div class="row">
                <div class="col-xl-2" id="header">
                    <div id="menu">
                        <ul>
                            <h2 class='settings'> <a href="../settings"> Settings</a></h2>
                            <li><a href="profile" accesskey="1" title="">Profile</a></li>
                            <li><a href="privacy" accesskey="2" title="">Privacy</a></li>
                            <li class="current_page_item"><a href="server" accesskey="3" title="">Server</a></li>
                            <li><a href="../password" accesskey="4" title="">Password</a></li>
                        </ul>
                    </div>
                </div>ive hosts</h2>
        </div>
        <ul class="style1">
            <li>
                <p>coennusse <button class="btn-danger"> Delete</button></p>
                <p>Jan <button class="btn-danger"> Delete</button></p>
            </li>
        </ul>
        <div class="title">
            <h2>Available hosts</h2>
        </div>
        <ul class="style1">
            <li>
                <p>Jan <button class="btn-primary"> Request to host</button></p>
                <p>Jan <button class="btn-danger"> Pull back request</button></p>

            </li>
        </ul>
    </div>
</div>
{% endblock %}