{% extends "settings.html" %}
{% set active_item = 'server' %}

{% block head %}
<script type="text/javascript" src="../static/javascript/fileSaver.js"></script>
<script type="text/javascript" src="../static/javascript/settings/server.js"></script>
<script type="text/javascript" src="../static/javascript/registerServer.js"></script>
<link rel="stylesheet" href="../static/css/server.css">
{{ super() }}
{% endblock %}

{% block content_settings %}
<div id="main" class="col-xl-8">
    <div class="title">
        <h2 class="font-header-settings">Your data server</h2>
    </div>
    <ul class="style1">
        <li>
            <p>The data server registration for your account:</p>
            <p id="dataservername"></p>
            <p id="dataserveraddress"></p>
        </li>
    </ul>
    <div class="title">
        <h2 class="font-header-settings">Migrate account</h2>
    </div>
    <ul class="style1">
        <li>        
            <p>When you want to move your data to a different data server, you have to migrate your profile to this new data server and register this on the FedNet central server. To do this, select your new data server below and press migrate.</p>
            <form name="migratedata">
                <div class="form-group">
                    <select id="select_server" name="select_server" class="form-control form-control-settings"></select>
                    <br>
                    <input type="checkbox" checked id="save_data_zip" name="save_data_zip"> Recommended: first backup data to this computer in case migration fails.</input>
                </div>
                <button type="submit" class="btn-primary btn-block" onclick="migrateData();">Migrate</button>
            </form>
        </li>
    </ul>
    <div class="title">
        <h2 class="font-header-settings">Register new data server</h2>
    </div>
    <ul class="style1">
        <li>
            <p>Using this form, you can register a new data server on the FedNet central server.</p>
            <form name="registerdataserver" action="" method="POST">
                <div class="form-group">
                    <label> Server name </label>
                    <input type='text' class="form-control form-control-settings" name="server_name" placeholder="Enter server name" value=""></input>
                </div>
                <div class="form-group">
                    <label> Server address </label>
                    <input type='text' class="form-control form-control-settings" name="server_address" placeholder="Enter server address" value="http://"></input>
                </div>
                <button type="submit" class="btn-block btn-block" onclick="register_server();">Register Server</button>
            </form>
        </li>
    </ul>
    <div class="title">
        <h2 class="font-header-settings">Export data</h2>
    </div>
    <ul class="style1">
        <li>
            <p>Use this button to export all data in your FedNet account.</p>
            <button class="btn-block btn-block" onclick="exportData();">Export</button>
        </li>
    </ul>
</div>
{% endblock %}