/* body {
    padding-top:3rem;
} */

.login {
    background-color: #c5d3d2;
}

.padding-login {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 2em;
    padding: 0;
}

form .error {
    color: #ff0000;
}

#search_input {
    display:none;
}
.search-btn {
    display: none;
}