.style1 {
  text-align: center;
}

.label {
  text-align: center;
}

.pass-container {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #DFF8EB;
  border-radius: 5px;
  border: 3px solid #DFF8EB;
  margin: 0 auto;
  padding: 3%;
  width: 80%;
  overflow: hidden;
  list-style: none;
  text-align: left;
  color: black;
}