body
{
    margin: 0px;
    padding: 0px;
    background: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #444444;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #ffffff;
}

.settings
{
    padding-left: 0.2cm;
    color: #ffffff
}


.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

img {
    height: 50%;
    width: height;
    border-radius: 30px;
    border: 2px solid #cdcdcd;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
  }


/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1
{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    overflow: hidden;
    list-style: none;
    text-align: left;
    color: #000000
}

ul.style1 li
{
    padding: 1.6em 0em 0em 0em;
    margin: 0 0 2.5em 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    text-transform: lowercase;
    font-size: 2.8em;
}

.title .byline
{
    font-size: 1.3em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
    position: relative;
    float: left;
    width: 300px;
    padding: 3em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    text-align: center;
    margin-bottom: 4em;
}

#logo h1
{
    display: block;
    color: rgb(255, 255, 255);
}

#logo a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu li
{
    border-top: 1px solid rgba(255,255,255,0.08);
}

#menu h2
{
    color: rgb(248, 248, 248)
}

#menu li a, #menu li span
{
    display: block;
    padding: 2em 1.5em;
    text-align: center;
    text-decoration:  none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
}

#menu .current_page_item a
{
    background: #68617e;
    color: rgba(255,255,255,1);
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page
{
    background: #364958;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main
{
    float: right;
    width: 700px;
    padding: 3em 50px 5em 50px;
    background: #CDCDCD;
    text-align: center;
}

