{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-10">1.</h1>
        <p class="lead text-muted mb-0">Ask a friend the name of there server</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../static/images/stock/Friendship-rafiki.svg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-10">2.</h1>
        <p class="lead text-muted mb-0">Select that server name when signing up.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../static/images/stock/Mobile login-pana.svg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-10">3.</h1>
        <p class="lead text-muted mb-0">Enjoy a worry free experience.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="../static/images/stock/Ethnic friendship-rafiki.svg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
{% endblock %}
