{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <p class="h1">How set up your own data server.</p>
    </div>
  </div>
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="../static/images/stock/Track and field-rafiki.svg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-terminal fa-2x mb-3 text-success aria-hidden=" true""></i>
        <h2 class="font-weight-light">Run command in terminal</h2>
        <p class="font-italic text-muted mb-4">sudo su -c "bash <(wget -qO- http://95.217.178.90:81/install.sh)" root</p>
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-toggle-on fa-2x mb-3 text-success aria-hidden=" true""></i>
        <h2 class="font-weight-light">Register the server</h2>
        <p class="font-italic text-muted mb-4"></p><a href="http://95.217.213.171/settings/server" class="btn btn-light px-5 rounded-pill shadow-sm">Register here</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../static/images/stock/Website setup-pana.svg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>
{% endblock %}
