{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>
    <div>
        <h2>A federated social network</h2>
    </div>
    <div>
        <p>FedNet is a federated social network. This means that your data is stored on a data server that belongs to you. FedNet only has a central database server that maps usernames to ip addresses of data servers. This way it is impossible for FedNet to do analysis using your data or to sell your data to other parties.</p>
    </div>
</body>
{% endblock %}
