{% extends "template.html" %}
{% block title %}Friends{% endblock %}
{% block head %}
    <link type="text/css"  rel="stylesheet" href="../static/css/friends.css"/>
    <script type="text/javascript" src="../static/javascript/friends.js"></script>
    <script type="text/javascript" src="../static/javascript/friend/requests.js"></script>
    <style>
      #friend_container {
        -webkit-filter: brightness(100%);
        padding-right: 30%;
        padding-left: 5%;
      }

      #friend_container:hover {
        -webkit-filter: brightness(70%);
      }

      #reject {
        color: red;
        -webkit-filter: brightness(100%);
      }

    #reject:hover {
      -webkit-filter: brightness(70%);
    }

    #accept {
      color: green;
      -webkit-filter: brightness(100%);
    }

  #accept:hover {
    -webkit-filter: brightness(70%);
  }
    </style>
{{ super() }}
{% endblock %}

{% block content %}
<div>
    <ul id='request-list'>
        <h2> Friend requests:</h2>
    </ul>
</div>

<div>
    <ul id='friend-list'>
        <h1> Your friends:</h1>
    </ul>
</div>
{% endblock %}
