{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block head %}
<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}"/>

<script type="text/javascript" src="../static/javascript/post.js"></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xl-3">
        <h2>Profile</h2>
        <h5>Photo:</h5>
        <div class="fakeimg">Fake Profile Image</div>
        <p>Some sub profile text/status</p>
        <h3>Recent friends</h3>
        <ul id="usernames" class="nav nav-pills flex-column">

        <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>
    </div>

    <div id="posts" class="col-xl-6">
        <h2>Create post</h2>
        <form name="createpost">
            <div class="form-group">
                <textarea class="form-control" id="body" rows="1" placeholder="Title"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="body" rows="7" placeholder="Today I saw a great..."></textarea>
            </div>
            <div class="form-group">
                <input type ="file" name="file" multiple/>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn-primary btn-block" onclick="create_post();">Post</button>
                </div>
            </div>
        </form>
        <br>

        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
        <h2>Recent posts</h2>
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
    </div>
</div>
{% endblock %}