{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  <script type="text/javascript" src="../static/javascript/signup.js"></script>
  <script type="text/javascript" src="../static/javascript/login.js"></script>
  <script type="text/javascript" src="../static/javascript/registerServer.js"></script>
  <script type="text/javascript" src="../static/javascript/modal.js"></script>
  <script type="text/javascript" src="../static/javascript/forgot.js"></script>
  <link rel="stylesheet" href="../static/css/login.css" >
  {{ super() }}
{% endblock %}

{% block content %}
  <script>
    $(document).ready( function() {
      handle_url_message();
    });
  </script>

  <!-- Register Modal box. -->
  <div class="modal fade" id="registerUser" tabindex="-1" role="dialog" aria-labelledby="registerUserAria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="registerUserId">Sign up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="signup">
            <div class="form-group">
              <label> Data server </label>
              <span class="w3-tooltip">&#9432; <p class="w3-text tooltip2 w3-tag w3-round-xlarge w3-margin-bottom">Your data on FedNet is stored on external servers, that's why you have to select a server where your data will be stored.</p></span>
              <select id="select_server" name="server" class="form-control"></select>
            </div>
            <div class="form-group">
              <label> Username </label>
              <input type="text" name="username" class="form-control" placeholder="username">
            </div>
            <div class="form-group">
              <label> First name </label>
              <input type="text" name="firstname" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
              <label> Last name </label>
              <input type="text" name="lastname" class="form-control" placeholder="Last name">
            </div>
            <div class="form-group">
              <label> Email </label>
              <input type="email" name="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label> Password </label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
            </div>
            <div class="form-group">
              <label> Confirm password </label>
              <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm password">
            </div>
            <div class="modal-footer">
              <button type="submit" id="btnSubmit" class="btn-success btn mx-auto" onclick="sign_up();">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="registerServer" tabindex="-1" role="dialog" aria-labelledby="RegisterServerAria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerServerId">Register data server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="registerdataserver" action="/api/server/register" method="POST">
            <div class="form-group">
              <label> Server name </label>
              <input type='text' class="form-control" name="server_name" placeholder="Enter server name" value=""></input>
            </div>
            <div class="form-group">
              <label> Server address </label>
              <input type='text' class="form-control" name="server_address" placeholder="Enter server address" value="http://"></input>
            </div>
            <div class="modal-footer">
              <button type="submit" id="btnSubmitServer" class="btn-success btn mx-auto" onclick="register_server();">Register Server</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="recoverPassword" tabindex="-1" role="dialog" aria-labelledby="recoverPasswordAria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="registerServerId">Enter username to reset password.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="recoverPassword">
            <div class="form-group">
              <label> Username </label>
              <input type='text' class="form-control" name="username" placeholder="Enter username" value=""></input>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn-success btn mx-auto" onclick="forgotPassword();">Send e-mail</button>
            </div>
          </form>
          <p class="text-center"> <a data-toggle="modal" data-target="#recoverUsername" data-whatever="@getbootstrap" id="forgotusername" onclick="loadServersForgot();"> Forgot username?</a> </p>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="recoverUsername" tabindex="-1" role="dialog" aria-labelledby="recoverUsernameAria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerServerId">Enter your dataserver and email to request username.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="recoverUsername">
            <div class="form-group">
              <label> Data server </label>
              <span class="w3-tooltip">&#9432; <p class="w3-text tooltip2 w3-tag w3-round-xlarge w3-margin-bottom">The e-mail provided must be linked to the username, and this username must exist on the given server. Don't know your server? Please contact support.</p></span>
              <select id="select_server2" name="server" class="form-control"></select>
            </div>
            <div class="form-group">
              <label> Email address </label>
              <input type='email' class="form-control" name="email" placeholder="Enter email adress" value=""></input>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn-success btn mx-auto" onclick="forgotUsername();">Send e-mail</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-3 bg-dark text-white rounded">
    <div class="row">
      <div class="col-md-6 text-center my-auto">
        <img src="../static/images/LogoBackOpaque.png" style="max-height:85px;">
        <h3> Safely connect to other people!</h3>
      </div>
      <div class="col-md-6 mx-auto padding-login">
        <div class="form">
          <form name="login" method="POST">
            <div class="form-group">
              <label> Username </label>
              <input type="text" name="username" id="username" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label> Password </label>
              <input type="password" name="password" class="form-control" placeholder="Enter password">
            </div>
            <div class="form-group">
              <div class="col-md-12 text-center ">
                <button type="submit" class="btn-primary btn-block" onclick="validateAccount();">Login</button>
              </div>
            </div>
            <div class="form-group">
              <p class="text-center"> <a data-toggle="modal" data-target="#recoverPassword" data-whatever="@getbootstrap" id="forgotpassword"> Forgot password?</a> </p>
              <hr/>
              <p class="text-center"> <button type="button" class="btn-lg btn-success" data-toggle="modal" data-target="#registerUser" data-whatever="@getbootstrap" onclick="loadServers();">Sign up</button>
              <button type="button" class="btn-lg btn-success" data-toggle="modal" data-target="#registerServer" data-whatever="@getbootstrap">Register data server</button></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
