{% extends "template.html" %}
{% block title %}Your profile{% endblock %}
{% block head %}
    <!-- Send the username to the post script using the loadPosts funtction -->
    <script type="text/javascript" src="../static/javascript/profile.js"></script>
    <script type="text/javascript" src="../static/javascript/post.js"></script>

    <script>$(document).ready( function() { loadProfile("{{ username }}"); }); </script>
    <script>$(document).ready( function() { loadUserPosts("{{ username }}", "posts"); }); </script>
    {{ super() }}
{% endblock %}
{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/w3.css" >
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img id="image_url" src="../static/images/default.jpg" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-teal">
                            <h2 id="name"></h2>
                        </div>
                </div>
                <!-- #TODO add right content for profile. -->
                <div class="w3-container" style="background-color:#DFF8EB;">
                    <br>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
                    <p><i class="fa fa-heart fa-fw w3-margin-right w3-large w3-text-teal"></i>Broken</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
                    <a href="/settings"><i class="fa fa-cog fa-fw w3-margin-right w3-large w3-text-teal"></i>Change info</a>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>

                    <p>Adobe Photoshop</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small" style="color:#52B77C;">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                    </div>
                    <p>Photography</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                        <div class="w3-center w3-text-white">80%</div>
                        </div>
                    </div>
                    <p>Illustrator</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                    </div>
                    <p>Media</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                    </div>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                    <p>English</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                    </div>
                    <p>Spanish</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
                    </div>
                    <p>German</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
                    </div>
                    <br>
                </div>
            </div>
            <br>

        <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
        <!-- First right box -->
            <!-- #TODO add right fa fa icons -->
            <div class="w3-container w3-card  w3-margin-bottom" style="background-color:#DFF8EB;">

                <!-- Main title -->
                <h2 class="w3-text-grey w3-padding-16">
                    <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About me
                </h2>
                <div class="w3-container"  style="background-color:#DFF8EB;">
                    <!-- Sub title -->
                    <h5 class="w3-opacity w3-text-teal"><b>Hobbies, interest</b></h5>
                    <!-- Content box title -->
                    <h6 class="w3-text-teal">
                        <i class="fa fa-circle fa-fw w3-margin-right"></i>Combing dogs
                    </h6>
                    <!-- Content -->
                    <p class="w3-text-grey">Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                    <hr>
                </div>

                <div class="w3-container"  style="background-color:#DFF8EB;">
                    <!-- Sub title -->
                    <h5 class="w3-opacity w3-text-teal"><b>You can always wake me up for</b></h5>
                    <!-- Content box title -->
                    <h6 class="w3-text-teal"><i class="fa fa-circle fa-fw w3-margin-right"></i>A frozen banana</h6>
                    <!-- Content -->
                    <p class="w3-text-grey">Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                    <hr>
                </div>

                <div class="w3-container"  style="background-color:#DFF8EB;">
                    <!-- Sub title -->
                    <h5 class="w3-opacity w3-text-teal"><b>Never contact me if</b></h5>
                    <!-- Content box title -->
                    <h6 class="w3-text-teal"><i class="fa fa-circle fa-fw w3-margin-right"></i>Your name's Jeff</h6>
                    <!-- Content -->
                    <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
                </div>
            </div>

            <!-- Scrollbox style #TODO maybe put in css or template? -->
            <style>
                .header {
                padding: 10px 16px;
                background: #555;
                color: #f1f1f1;
                }
                /* Page content */
                .content {
                  padding: 16px;
                }
                /* The sticky class is added to the header with JS when it reaches its scroll position */
                .sticky {
                  position: fixed;
                  top: 0;
                  width: 45%
                }
            </style>

            <!-- Header for posts -->
            <div class="header" id="myHeader" style="background-color:#DFF8EB;">
                <h2 class="w3-text-grey w3-padding-16"style="background-color:#DFF8EB;"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Posts</h2>
            </div>


            
            <!-- Posts #TODO timestamps, content, postee -->
            <div id="posts_div" class="w3-container"  style="background-color:#DFF8EB;">
            </div>

            <!-- Scrollscript -->
            <script>
                // When the user scrolls the page, execute myFunction
                window.onscroll = function() {myFunction()};
                // Get the header
                var header = document.getElementById("myHeader");
                // Get the offset position of the navbar
                var sticky = header.offsetTop;
                // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
                function myFunction() {
                    if (window.pageYOffset > sticky) {
                        header.classList.add("sticky");
                    } else {
                        header.classList.remove("sticky");
                    }
                }
            </script>

        <!-- End Right Column -->
        </div>

    <!-- End Grid -->
    </div>

<!-- End Page Container -->
</div>

<!-- <footer class="w3-container w3-center w3-margin-top" style="background-color:#011638;">
  <p style="color:#52B77C;">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity" style="color:#52B77C;"></i>
  <i class="fa fa-instagram w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-snapchat w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-twitter w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-linkedin w3-hover-opacity"style="color:#52B77C;"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer> -->

<!-- </body> -->

{% endblock %}
