{% extends "template.html" %}
{% block title %}Your profile{% endblock %}
{% block head %}
    <!-- Send the username to the post script using the loadPosts funtction -->
    <script type="text/javascript" src="../static/javascript/profile.js"></script>
    <script type="text/javascript" src="../static/javascript/post.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">

    <script>$(document).ready( function() { loadProfile("{{ username }}"); }); </script>
    <script>$(document).ready( function() { loadUserPosts("{{ username }}", "posts"); }); </script>
    {{ super() }}
{% endblock %}
{% block content %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third" style="max-width:300px;">

            <div class="w3-white w3-text-black w3-card-4">
                <div class="w3-display-container">
                    <img id='image_url' style="width:100%">
                </div>
                <!-- #TODO add right content for profile. -->
                <div class="w3-container p-3" style="background-color:rgb(255, 255, 255);">
                    <h2 id='name'></h2>
                    <br>
                    <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <p color=black id='study'></p>
                    <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <p id='location'></p>
                    <i class="fa fa-heart fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <p id='status'></p>
                    <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <p id='number'></p>
                    <a class="w3-text-teal" href="/settings/profile"><i class="fa fa-cog fa-fw w3-margin-right w3-large w3-text-teal"></i>Change info</a>
                    <hr>

                    <li id='skills-list'>
                        <p class="w3-large w3-text-teal"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                    </li>

                    <br>

                    <li id='languages-list'>
                        <p class="w3-large w3-text-teal"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                    </li>

                    <br>
                </div>
            </div>
            <br>

        <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
        <!-- First right box -->
            <!-- #TODO add right fa fa icons -->
            <div id="about">
                <div class="w3-container w3-card  w3-margin-bottom" style="background-color:rgb(255, 255, 255);">
                    <!-- Main title -->
                    <h2 class="w3-text-black w3-padding-16">
                        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About me
                    </h2>
                    <div class="w 3-container"  style="background-color:rgb(255, 255, 255);">
                        <!-- Sub title -->
                        <h5 class="w3-text-black"><b>Bio</b></h5>
                        <!-- Content -->
                        <p id='bio' class="w3-text-grey"></p>
                        <hr>
                    </div>

                    <div class="w3-container"  style="background-color:#DFF8EB;">
                        <!-- Sub title -->
                    </div>
                </div>
            </div>

            <div id="not-friends">
                <div class="w3-container w3-card  w3-margin-bottom" style="background-color:rgb(250, 250, 250);">
                    <!-- Main title -->
                    <h2 class="w3-text-grey w3-padding-16">
                        Not friends yet
                    </h2>
                </div>
            </div>

            <!-- TODO username != logged in user -->
            {% if username is defined %}
                <button id="add_friend" type="submit" class="btn-primary btn-block" onclick='addFriend("{{ username }}")'>Add friend</button>
            {% endif %}

            <!-- Scrollbox style #TODO maybe put in css or template? -->
            <style>
                .header {
                padding: 10px 16px;
                background: #555;
                color: #f1f1f1;
                }
                /* Page content */
                .content {
                  padding: 16px;
                }
                /* The sticky class is added to the header with JS when it reaches its scroll position */
                .sticky {
                  position: fixed;
                  top: 0;
                  width: 45%
                }
            </style>

            <div id="posts">
                <!-- Header for posts -->
                <div class="header" id="myHeader" style="background-color:rgb(255, 255, 255);">
                    <h2 class="w3-text-black w3-padding-16"style="background-color:rgb(255, 255, 255);"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Posts</h2>
                </div>

                <!-- Posts #TODO timestamps, content, postee -->
                <div id="posts_div" class="w3-container"  style="background-color:rgb(255, 255, 255);">
                </div>
            </div>

            <!-- Scrollscript -->
            <script>
                // When the user scrolls the page, execute myFunction
                window.onscroll = function() {myFunction()};
                // Get the header
                var header = document.getElementById("myHeader");
                // Get the offset position of the navbar
                var sticky = header.offsetTop;
                // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
                function myFunction() {
                    if (window.pageYOffset > sticky) {
                        header.classList.add("sticky");
                    } else {
                        header.classList.remove("sticky");
                    }
                }
            </script>

        <!-- End Right Column -->
        </div>

    <!-- End Grid -->
    </div>

<!-- End Page Container -->
</div>

<!-- <footer class="w3-container w3-center w3-margin-top" style="background-color:#011638;">
  <p style="color:#52B77C;">Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity" style="color:#52B77C;"></i>
  <i class="fa fa-instagram w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-snapchat w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-twitter w3-hover-opacity"style="color:#52B77C;"></i>
  <i class="fa fa-linkedin w3-hover-opacity"style="color:#52B77C;"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer> -->

<!-- </body> -->

{% endblock %}
