{% extends "template.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    <title>Settings</title>
    <link href="../static/css/setting1.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../static/javascript/settingsServer.js"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-2" id="header">
        <div id="menu">
            <ul>
                <h2 class='settings'> <a href="../settings"> Settings</a></h2>
                <li><a href="profile" accesskey="1" title="">Profile</a></li>
                <li><a href="privacy" accesskey="2" title="">Privacy</a></li>
                <li class="current_page_item"><a href="server" accesskey="3" title="">Server</a></li>
                <li><a href="../password" accesskey="4" title="">Password</a></li>
            </ul>
        </div>
    </div>
    <div id="main" class="col-xl-8">
        <div class="title">
            <h2>Register new data server</h2>
        </div>
        <ul class="style1">
            <li>
                <p>When you set up a new data server, you have to register it on the FedNet central server to make it reachable for other users.</p>
                <p>You can do this using the form below.</p>
                <form name="registerdataserver" action="/api/server/register" method="POST">
                    <input type='text' class="form-control" name="server_name" placeholder="Server name" value=""></input>
                    <input type='text' class="form-control" name="server_address" placeholder="Server address" value=""></input>
                    <br>
                    <button class="btn-primary">Submit</button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}