{% extends "template.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    <title>Settings</title>
    <link href="../static/css/setting1.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../static/javascript/settingsProfile.js"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-2" id="header">
        <div id="menu">
            <ul>
                <h2 class='settings'> <a href="../settings"> Settings</a></h2>
                <li class="current_page_item"><a href="profile" accesskey="1" title="">Profile</a></li>
                <li><a href="privacy" accesskey="2" title="">Privacy</a></li>
                <li><a href="server" accesskey="3" title="">Server</a></li>
                <li><a href="../password" accesskey="4" title="">Password</a></li>
            </ul>
        </div>
    </div>
    <div id="main" class="col-xl-8">
        <div class="title">
            <h2>Personal info</h2>
        </div>

        <ul class="style1">
            <form enctype="multipart/form-data" name="settings">
                <li>
                    <p><b> Profile picture</b></p>
                    <img name="profilePicture" id='image_url' >
                    <input id='image_url' type="file" name="file" accept="image/*" onchange="show_preview(event)">
                    <!-- <input type ="file" name="file" id='image_url'> -->
                </li>
                <li>
                    <p><b>Bio</b></p>
                    <textarea id='bio' class="form-control" name="new_bio" rows="7"></textarea>
                </li>
                <li>
                    <p><b>Study</b></p>
                    <input id='study' type='text' class="form-control" name="new_study"> </input>
                </li>
                <li>
                    <label> Firstname</label>
                    <input id='firstname' type='text' class="form-control" name="new_firstname" /> </input>
                </li>
                <li>
                    <label> Lastname</label>
                    <input id='lastname' type='text' class="form-control" name="new_lastname" /> </input>
                </li>
                <li>
                    <label> Location</label>
                    <input id='location' type='text' class="form-control" name="new_location"> </input>
                </li>
                <div>
                    <button type="submit" class="btn-primary btn-block" onclick="saveProfile()">Update</button>
                </div>
            </form>
        </ul>
    </div>
</div>

<script>
    function show_preview(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var output = document.getElementById('preview');
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}