{% extends "template.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    <title>Settings</title>
    <link href="../static/css/setting1.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-2" id="header">
        <div id="menu">
            <ul>
                <h2 class='settings'> <a href="../settings"> Settings</a></h2>
                <li><a href="profile" accesskey="1" title="">Profile</a></li>
                <li class="current_page_item"><a href="privacy" accesskey="2" title="">Privacy</a></li>
                <li><a href="server" accesskey="3" title="">Server</a></li>
                <li><a href="../password" accesskey="4" title="">Password</a></li>
            </ul>
        </div>
    </div>
    <div id="main" class="col-xl-8">
        <div class="title">
            <h2>Privacy settings</h2>
        </div>
        <ul class="style1">
            <li>
                <p><b>Who is able to see my posts?</b></p>
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Everyone
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio">Friends
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Friends of friends
                    </label>
                  </div>
            </li>
            <li>
                <p><b>Who is able to see my profile picture?</b></p>
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Everyone
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Friends
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Friends of friends
                    </label>
                  </div>
            </li>
            <div class="col-md-12 text-center ">
                <button type="submit" class="btn-primary btn-block">Save</button>
            </div>
        </ul>
    </div>
</div>
{% endblock %}