{% extends "template.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
    <title>Settings</title>
    <link href="../static/css/setting1.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-2" id="header">
        <div id="menu">
            <ul>
                <h2 class='settings'> <a href="../settings"> Settings</a></h2>
                <li><a href="profile" accesskey="1" title="">Profile</a></li>
                <li><a href="privacy" accesskey="2" title="">Privacy</a></li>
                <li class="current_page_item"><a href="server" accesskey="3" title="">Server</a></li>
                <li><a href="../password" accesskey="4" title="">Password</a></li>
            </ul>
        </div>
    </div>
    <div id="main" class="col-xl-8">
        <div class="title">
            <h2>Personal server</h2>
        </div>
        <ul class="style1">
            <li>
                <p><b>Hosted accounts:</b></p>
                <p>coennusse <button class="btn-primary"> Delete</button></p>
                <p><b>Requests:</b></p>
                <p>Jan <button class="btn-primary"> Accept</button> <button class="btn-danger"> Decline</button></p>
            </li>
        </ul>
        <div class="title">
            <h2>Active hosts</h2>
        </div>
        <ul class="style1">
            <li>
                <p>coennusse <button class="btn-danger"> Delete</button></p>
                <p>Jan <button class="btn-danger"> Delete</button></p>
            </li>
        </ul>
        <div class="title">
            <h2>Available hosts</h2>
        </div>
        <ul class="style1">
            <li>
                <p>Jan <button class="btn-primary"> Request to host</button></p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}