<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test1 PSE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/template.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/javascript/template.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #bbb;
  }
  </style>
</head>
<body>

<div class="page-wrapper">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
  <a href="#">Settings</a>

</div>
<nav class="nav-search">

<div class="container-fluid" id="main" style="margin-top:30px">

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-custom my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  <span class="btn-nav" onclick="openNav()">open</span>
</div>

  <!-- end page wrapper -->
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
