<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test1 PSE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/template.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/javascript/template.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #bbb;
  }
  </style>
  {% block head %}
      {% endblock %}
</head>
<body>



<div class="page-wrapper" style="background-color:#364958;">

  <div id="mySidenav" class="sidenav">
    <!-- <div class="button-side2" onclick="myFunction(this); closeNav()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div> -->
    <ul class="nav nav-pills flex-column">
      <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/friend_list">Friends</a></li>
      <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
  </div>

  <!-- <span class="button-side" onclick="openNav()">open</span> -->

  <div class="button-side" onclick="myFunction(this); toggleNav()">
    <div id="b1" class="bar1"></div>
    <div id="b2" class="bar2"></div>
    <div id="b3" class="bar3"></div>
  </div>

<div class="container-fluid" id="main">

  <nav class="nav-search container-fluid" id="search">

    <form class="form-inline my-2 my-lg-0" style="padding-left:20px;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-custom my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

{% block content %}
    {% endblock %}


<footer class="jumbotron text-align">Footer</footer>
</div>

  <!-- end page wrapper -->
</div>



</body>
</html>
