<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test1 PSE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/javascript/test.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #bbb;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Federated Social Network</h1>
  <p>Safely connect to other people!</p>
</div>

<nav class="navbar sticky-top navbar-light bg-dark">
  <button class="navbar-toggler bg-warning"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Friends
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-xl-3">
      <h2>Profile</h2>
      <h5>Photo:</h5>
      <div class="fakeimg">Fake Profile Image</div>
      <p>Some sub profile text/status</p>
      <h3>Recent friends</h3>
      <ul id="usernames" class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-xl-6">
      <h2>Create post</h2>
      <div class="form-group">
        <label for="Textarea1">Write your post here</label>
          <textarea class="form-control" id="Textarea1" rows="7" placeholder="Today I saw a great..."></textarea>
      </div>
      <br>
      <h2>Recent posts</h2>
      <div id="posts">
        <h5>date of post</h5>
        <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
      </div>
    </div>
  </div>
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
