{% extends "test2.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="col-xl-6">

  <h2>Create post</h2>
  <div class="form-group">
    <label for="Textarea1">Write your post here</label>
      <textarea class="form-control" id="Textarea1" rows="7" placeholder="Today I saw a great..."></textarea>
  </div>
  <br>
  <h2>Recent posts</h2>
  <h5>date of post</h5>
  <div class="fakeimg" style="margin-bottom:30px">Fake Image</div>
</div>
{% endblock %}
