<form enctype="multipart/form-data" name="test" action="api/post/addComment" method="POST">
    <li>
        <label> username</label>
        <input type='text' class="form-control form-control-settings" name="username" /> </input>
    </li>
    <li>
        <label> post id</label>
        <input type='text' class="form-control form-control-settings" name="post_id" /> </input>
    </li>
    <li>
        <label> comment</label>
        <input type='text' class="form-control form-control-settings" name="comment" /> </input>
    </li>
    <!-- <li>
        <label> skill_level</label>
        <input type='int' class="form-control form-control-settings" name="skill_level" /> </input>
    </li> -->
    <div>
        <button type="submit" class="btn-primary btn-block" onclick="saveProfile()">Update</button>
    </div>
</form>