<form enctype="multipart/form-data" name="test" action="/api/user/edit" method="POST">
    <input name="username">
    <input name="new_name">
    <input name="new_location">
    <input name="new_study">
    <input name="new_password">
    <!-- <input type="file" name="file" accept="image/*" onchange="show_preview(event)"> -->
    <button></button>
</form>

<script>
    function show_preview(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var output = document.getElementById('preview');
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
</script>